<!DOCTYPE HTML>
<html>
<head>
  <title>Example Backbone App</title>
  <!-- load the bootstrap stylesheet -->
  <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/overrides.css" media="all" rel="stylesheet" type="text/css" />
  <!-- load the libraries we need -->
  <script type="text/javascript" src="js/libs/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/underscore.min.js"></script>
  <script type="text/javascript" src="js/libs/backbone.min.js"></script>
  <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/note_router.js"></script>
  <script type="text/javascript" src="js/models/note_model.js"></script>
  <script type="text/javascript" src="js/views/note_index.js"></script>
  <script type="text/javascript" src="js/views/note_row.js"></script>
  <script type="text/javascript" src="js/views/note_new.js"></script>
  <script type="text/javascript" src="js/views/note_edit.js"></script>
  <script type="text/javascript" src="js/views/note_show.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="page-header">
        <h1>Backbone.js Example App</h1>
      </div>
      <p class="lead">As simple as possible backbone app. Does not even communicate with a server. Mostly just displaying how to wire up the classes, and listen to events.</p>

      <div id="primary-content">
        <!-- the container that gets populated with the index -->
      </div>
    </div>
  </div>
  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <form class="form-signin">
        <h2 class="form-signin-heading"></h2>
        <input type="text" class="input-block-level" name="title" placeholder="Title" value="<%= title %>">
        <input type="text" class="input-block-level" name="author" placeholder="Author" value="<%= author %>">
        <textarea class="input-block-level" rows="5" name="description" placeholder="Description"><%= description %></textarea>
        <div class="action-bar">
          <button class="save btn btn-large btn-primary" type="submit">Save</button>
          or
          <a href="#notes/index" class="btn btn-large">Cancel</a>
        </div>
      </form>
    </div>
  </script>
  <!-- the index container -->
  <script type="text/template" id="indexTemplate">
    <div class="well">
      <a class="btn btn-block btn-large btn-info" href="#note/new">Create New Note</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="20%">Title</th>
          <th width="20%">Author</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>
  <!-- the row template, renders once for each item in the index -->
  <script type="text/template" id="rowTemplate">
    <td>
      <a href="#note/<%= id %>/view"><%= title %></a>
    </td>
    <td><%= author %></td>
    <td><%= description %></td>
    <td>
      <a href="#" class="delete btn btn-danger btn-small">delete</a>
    </td>
  </script>
  <!-- the show template -->
  <script type="text/template" id="showTemplate">
    <div class="well">
      <a class="btn btn-large" href="#notes/index">
        <i class="icon-arrow-left"></i>
        Back To Index
      </a>
      <a class="btn btn-large btn-info" href="#note/<%= id %>/edit">
        <i class="icon-pencil icon-white"></i>
        Edit Note
      </a>
    </div>
    <h2>
      <%= title %>
      <small>by: <%= author %></small>
    </h2>
    <pre><%= description %></pre>
  </script>

  <script type="text/javascript">
    var notes = new APP.Collections.NoteCollection();
    var router = new APP.Routers.NoteRouter({notes: notes});

    Backbone.history.start();
    notes.reset([
                  {
                    "title": "Example Title",
                    "id": "45",
                    "author": "David Morrow",
                    "description": "Raw denim forage narwhal mustache. Synth trust fund mcsweeney's next level odd future swag. Seitan keytar iphone thundercats. Cardigan freegan blog authentic, echo park mlkshk +1 irony 3 wolf moon pop-up."
                  }
                ]
              );
  </script>
</body>
</html>
