<!DOCTYPE HTML>
<html>
<head>
  <title>Example Backbone App</title>
  <!-- load the bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <!-- load the libraries we need -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/note_router.js"></script>
  <script type="text/javascript" src="js/models/note_model.js"></script>
  <script type="text/javascript" src="js/views/note_index.js"></script>
  <script type="text/javascript" src="js/views/note_row.js"></script>
  <script type="text/javascript" src="js/views/note_new.js"></script>
  <script type="text/javascript" src="js/views/note_edit.js"></script>
  <script type="text/javascript" src="js/views/note_show.js"></script>
</head>
<body>

	<a href="https://github.com/dperrymorrow/example-backbone-app"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

  <div class="container">
    <div class="page-header">
      <h1>Backbone.js Example App</h1>
      <p class="lead">
        As simple as possible Backbone Application. Does not even communicate with a server. Mostly just displaying how to wire up the classes, and listen to events.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6" id="primary-content">
        <!-- the container that gets populated with the rendered templates -->
      </div>
      <div class="col-md-6">
          <!-- we are going to debug our backbone collection here -->
          <code id="output" style="display:block;white-space:pre-wrap;"></code>
      </div>
    </div>
  </div>

  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-danger fade in" style="display:none;"></div>
      <form>
        <h2><%= title %></h2>
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" name="title" value="<%= title %>" />
        </div>
        <div class="form-group">
          <label>Author:</label>
          <input type="text" class="form-control" name="author" value="<%= author %>" />
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" rows="5" name="description"><%= description %></textarea>
        </div>
        <button class="save btn btn-large btn-info" type="submit">Save</button>
        <a href="#notes/index" class="btn btn-large">Cancel</a>
      </form>
    </div>
  </script>

  <!-- the index container -->
  <script type="text/template" id="indexTemplate">
    <div class="well">
      <a class="btn btn-block btn-large btn-info" href="#note/new">Create New Note</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="20%">Title</th>
          <th width="20%">Author</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- the row template, renders once for each item in the index -->
  <script type="text/template" id="rowTemplate">
    <td>
      <a href="#note/<%= id %>/view"><%= title %></a>
    </td>
    <td><%= author %></td>
    <td><% print(description.substring(0, 100)) %>...</td>
    <td>
      <a href="#" class="delete btn btn-danger btn-small">delete</a>
    </td>
  </script>

  <!-- the show template -->
  <script type="text/template" id="showTemplate">
    <ol class="breadcrumb">
      <li>
        <a href="#notes/index">All Notes</a>
      </li>
      <li class="active">View Note</li>
    </ol>

    <h2>
      <%= title %>
      <small>by: <%= author %></small>
    </h2>
    <p style="white-space:pre-wrap;"><%= description %></p>
    <hr/>
    <a class="btn btn-info btn-block" href="#note/<%= id %>/edit">Edit Note</a>
  </script>

  <!-- kick off the app -->
  <script type="text/javascript">
    var router = new APP.NoteRouter({
      notes: new APP.NoteCollection()
    });

    // we manually pass in the initial data, but this would be called with a collection.fetch() normally
    router.notes.reset([
      {
        "title": "Example Note 1",
        "id": "45",
        "author": "David Morrow",
        "description": "Pinterest biodiesel excepteur, ad etsy gluten-free semiotics ennui before they sold out irony ut deserunt jean shorts."
      },
      {
        "title": "Example Note 2",
        "id": "48",
        "author": "David Morrow",
        "description": "Fixie synth quinoa umami single-origin coffee master cleanse sartorial typewriter bushwick ennui readymade, lomo trust fund. Shoreditch direct trade fap cray high life swag, viral cred lo-fi locavore fingerstache wayfarers freegan."
      },
      {
        "title": "Example Note 3",
        "id": "52",
        "author": "David Morrow",
        "description": "You probably haven't heard of them keffiyeh lo-fi, yr bespoke selvage cray polaroid beard. Tofu messenger bag sustainable gastropub, gentrify lomo godard PBR echo park fap yr. Small batch truffaut swag forage tofu shoreditch street art helvetica. Hella helvetica fixie godard forage art party lo-fi."
      }
    ]);
    
    // now that everyting is setup we tell backbone to watch the urls
    Backbone.history.start({pushState: true});
  </script>
</body>
</html>
